In [ ]:
import numpy as np
import pandas as pd
#Importing necessary libraries.

# Task 1

In [ ]:
project_data = {
    "ID": [
#Performing a specific task based on the logic.
        "A001",
        "A002",
        "A003",
        "A004",
        "A005",
        "A002",
        "A005",
        "A003",
        "A001",
        "A003",
        "A001",
        "A004",
        "A004",
        "A005",

    ],
    "Project": [
        "Project 1",
        "Project 2",
        "Project 3",
        "Project 4",
        "Project 5",
        "Project 6",
        "Project 7",
        "Project 8",
        "Project 9",
        "Project 10",
        "Project 11",
        "Project 12",
        "Project 13",
        "Project 14",

    ],
    "Cost": [
        1002000,
        2000000,
        4500000,
        5500000,
        np.nan,
        680000,
        400000,
        350000,
        np.nan,
        300000,
        2000000,
        1000000,
        3000000,
        200000,
    ],
    "Status": [
        "Finished",
        "Ongoing",
        "Finished",
        "Ongoing",
        "Finished",
        "Failed",
        "Finished",
        "Failed",
        "Ongoing",
        "Finished",
        "Failed",
        "Ongoing",
        "Finished",
        "Finished",
    ],
}

project_df = pd.DataFrame(project_data)
project_df.to_csv("project.csv", index=False)
#Creating a DataFrame with specified data.

employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": [
        "John Alter",
        "Alice Luxumberg",
        "Tom Sabestine",
        "Nina Adgra",
        "Amy Johny",
    ],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30],
}
#Promoting employees older than 29.
employee_df = pd.DataFrame(employee_data)
employee_df.to_csv("employee.csv", index=False)
#Creating a DataFrame with specified data.

seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3],
}
seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv("seniority.csv", index=False)

#Saving the DataFrame to a CSV file.
print(
    "Three dataframes (project.csv, employee.csv, and seniority.csv) have been created and saved."
)

Three dataframes (project.csv, employee.csv, and seniority.csv) have been created and saved.

# Task 2

In [ ]:
running_sum = 0
count = 0
for i, cost in enumerate(project_df["Cost"]):
    if pd.isna(cost):
# Filling missing cost values using running average.
        if count > 0:
            project_df.at[i, "Cost"] = running_sum / count
    else:
        running_sum += cost
        count += 1

print("Missing 'Cost' values have been filled with the running average:")
print(project_df.head())

Missing 'Cost' values have been filled with the running average:
     ID    Project       Cost    Status
0  A001  Project 1  1002000.0  Finished
1  A002  Project 2  2000000.0   Ongoing
2  A003  Project 3  4500000.0  Finished
3  A004  Project 4  5500000.0   Ongoing
4  A005  Project 5  3250500.0  Finished

# Task 3

In [ ]:
employee_df[["First Name", "Last Name"]] = employee_df["Name"].str.split(
    " ", n=1, expand=True
# Splitting the full name into first and last names.
)

# Performing a specific task based on the logic above.
employee_df = employee_df.drop(columns=["Name"])


print("The 'Name' column has been split into 'First Name' and 'Last Name':")
print(employee_df)

The 'Name' column has been split into 'First Name' and 'Last Name':
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

# Task 4

In [ ]:
final_df = pd.merge(project_df, employee_df, on="ID")
final_df = pd.merge(final_df, seniority_df, on="ID")
# Explanation: Merging DataFrames to create a final combined DataFrame.

print("The three dataframes have been merged into a single dataframe called 'Final':")

print(final_df)

The three dataframes have been merged into a single dataframe called 'Final':
      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

# Task 5

In [ ]:
final_df["Bonus"] = final_df.apply(
    lambda row: row["Cost"] * 0.05 if row["Status"] == "Finished" else 0, axis=1
#Calculating bonus for finished projects.
)


print("A 'Bonus' column has been added to the 'Final' dataframe:")
print(final_df)

A 'Bonus' column has been added to the 'Final' dataframe:
      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  2       0.0
6       Johny                  3   20000.0
7   Sabestine                  3       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  2       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

# Task 6

In [ ]:
final_df.loc[final_df["Status"] == "Failed", "Designation Level"] += 1

# Adjusting designation levels for failed projects.
final_df = final_df[final_df["Designation Level"] <= 4]

print(
    "Employees with failed projects have been demoted, and those with a designation level above 4 have been removed:"

)
print(final_df)

Employees with failed projects have been demoted, and those with a designation level above 4 have been removed:
      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3.000000e+06  Finished      F  Newyork   31       Nina
13  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  3       0.0
6       Johny                  3   20000.0
7   Sabestine                  4       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  3       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

# Task 7

In [ ]:
final_df["First Name"] = final_df.apply(
    lambda row: "Mr. " + row["First Name"]

    if row["Gender"] == "M"
    else "Mrs. " + row["First Name"],
    axis=1,
)


final_df = final_df.drop(columns=["Gender"])
# Dropping the gender column after adding salutations.

print(
    "Salutations have been added to the 'First Name' column, and the 'Gender' column has been dropped:"
)
#Dropping the gender column after adding salutations.
print(final_df)

Salutations have been added to the 'First Name' column, and the 'Gender' column has been dropped:
      ID     Project          Cost    Status     City  Age  First Name  \
0   A001   Project 1  1.002000e+06  Finished    Paris   25    Mr. John
1   A002   Project 2  2.000000e+06   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4.500000e+06  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5.500000e+06   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  3.250500e+06  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6  6.800000e+05    Failed   London   27  Mrs. Alice
6   A005   Project 7  4.000000e+05  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8  3.500000e+05    Failed   Berlin   29     Mr. Tom
8   A001   Project 9  2.061714e+06   Ongoing    Paris   25    Mr. John
9   A003  Project 10  3.000000e+05  Finished   Berlin   29     Mr. Tom
10  A001  Project 11  2.000000e+06    Failed    Paris   25    Mr. John
11  A004  Project 12  1.000000e+06   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3.000000e+06  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14  2.000000e+05  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  3       0.0
6       Johny                  3   20000.0
7   Sabestine                  4       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  3       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

# Task 8

In [ ]:
final_df.loc[final_df["Age"] > 29, "Designation Level"] -= 1

#  Promoting employees older than 29.
print("Employees older than 29 have been promoted:")
print(final_df)

Employees older than 29 have been promoted:
      ID     Project          Cost    Status     City  Age  First Name  \
0   A001   Project 1  1.002000e+06  Finished    Paris   25    Mr. John
1   A002   Project 2  2.000000e+06   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4.500000e+06  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5.500000e+06   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  3.250500e+06  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6  6.800000e+05    Failed   London   27  Mrs. Alice
6   A005   Project 7  4.000000e+05  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8  3.500000e+05    Failed   Berlin   29     Mr. Tom
8   A001   Project 9  2.061714e+06   Ongoing    Paris   25    Mr. John
9   A003  Project 10  3.000000e+05  Finished   Berlin   29     Mr. Tom
10  A001  Project 11  2.000000e+06    Failed    Paris   25    Mr. John
11  A004  Project 12  1.000000e+06   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3.000000e+06  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14  2.000000e+05  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  1       0.0
4       Johny                  2  162525.0
5   Luxumberg                  3       0.0
6       Johny                  2   20000.0
7   Sabestine                  4       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  3       0.0
11      Adgra                  1       0.0
12      Adgra                  1  150000.0
13      Johny                  2   10000.0

# Task 9

In [ ]:
total_proj_cost_df = final_df.groupby(["ID", "First Name"])["Cost"].sum().reset_index()
total_proj_cost_df = total_proj_cost_df.rename(columns={"Cost": "Total Cost"})
# Grouping by ID to calculate total cost per employee.

print(
    "A 'TotalProjCost' dataframe has been created with the total project cost for each employee:"
)

print(total_proj_cost_df)

A 'TotalProjCost' dataframe has been created with the total project cost for each employee:
     ID  First Name    Total Cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

# Task 10

In [ ]:
employees_in_o_cities = final_df[
    final_df["City"].str.contains("o", case=False, na=False)
# Filtering cities that contain the letter 'o'.
]

print("Employee details for cities with the letter 'o' in their name:")
print(employees_in_o_cities)

Employee details for cities with the letter 'o' in their name:
      ID     Project       Cost    Status     City  Age  First Name  \
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina

    Last Name  Designation Level     Bonus
1   Luxumberg                  2       0.0
3       Adgra                  1       0.0
5   Luxumberg                  3       0.0
11      Adgra                  1       0.0
12      Adgra                  1  150000.0